{%extends"bootstrap/base.html"%}
{% block content %}
{% with messages=get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category,message in messages %}
      <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}
  <a class="btn btn-primary btn-lg" role="button" href="add_data">+</a>
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Product ID</th><!-- nome das colunas -->
        <th>Product List ID</th>
        <th>Product Name</th>
        <th>Date Sold</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for product in database_rows %}
        <tr>
          <td><a href={{url_for('edit_data',product_id=product[0])}}>{{ product[0] }}</a></td><!-- achar o exo sem saber qual pode ser -->
          <td>{{ product[1] }}</td>
          <td>{{ product[2] }}</td>
          <td>{{ product[3] }}</td>
          <td>{{ product[4] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}